<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.10.1/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.1/js/mui.min.js"></script>
    <title>CAF Server</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="mui-container">
      <h1>CAF Server</h1>
      <table class="mui-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>TOA</th>
            <th>FOA</th>
            <th>SNR</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
          <tr>
            <td>{{ result['id'] }}</td>
            <td>{{ result['toa'] }}</td>
            <td>{{ result['foa'] }}</td>
            <td>{{ result['snr'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
